@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #09090b;
  --color-primary: #3b82f6;
  --color-secondary: #f4f4f5;
  --color-muted: #f4f4f5;
  --color-accent: #f4f4f5;
  --color-destructive: #ef4444;
}

*:where(.dark) {
  @theme {
    --color-background: #09090b;
    --color-foreground: #fafafa;
  }
}
